h1, h2, h3, h4, h5{
  font-family: $serif;
  font-weight: bold;
}

p,ol,ul,input,textarea,button,a,label{
  font-family: $sans-serif;
}



h1 {
    font-size: 4vw;
    margin: 0px;
  }
  
  h2 {
    font-size: 3vw;
    margin: 0px;
  }
  
  h3 {
    font-size: 2vw;
    margin: 0px;
  }
  
  h4 {
    font-size: 1.5vw;
    margin: 0px;
  }

h5 {
  font-size: 1.3vw;
  margin: 0px;
}

  p,ol,ul,input,textarea,button,label {
    font-size: 1.1vw;
    margin: 0px;
  }

  a{
    text-decoration: none;
    font-size: inherit;
  }

  .ta-l{
    text-align: left;
  }
  .ta-c{
    text-align: center;
  }

  .ta-r{
    text-align: right;
  }

@media (max-width: $medium-size){

  h1 {
    font-size: 6vw;
    margin: 0px;
  }

  h2 {
    font-size: 5vw;
    margin: 0px;
  }

  h3 {
    font-size: 4vw;
    margin: 0px;
  }

  h4 {
    font-size: 3vw;
    margin: 0px;
  }
  h5 {
    font-size:  2.5vw;
    margin: 0px;
  }

  p,ol,ul,input,textarea,button,label {
    font-size: 2vw;
    margin: 0px;
  }

  .m_ta-l{
    text-align: left;
  }
  .m_ta-c{
    text-align: center;
  }

  .m_ta-r{
    text-align: right;
  }

}


  @media (max-width: $small-size){

    h1 {
        font-size: 8vw;
        margin: 0px;
      }
      
      h2 {
        font-size: 7vw;
        margin: 0px;
      }
      
      h3 {
        font-size: 6vw;
        margin: 0px;
      }
      
      h4 {
        font-size: 5vw;
        margin: 0px;
      }
    h5 {
      font-size: 4.5vw;
      margin: 0px;
    }

      p,ol,ul,input,textarea,button,label {
        font-size: 4vw;
        margin: 0px;
      }


    .s_ta-l{
      text-align: left;
    }
    .s_ta-c{
      text-align: center;
    }
    .s_ta-r{
      text-align: right;
    }
  }