$default-gap: 1vw;
$large-gap: $default-gap*2;
$small-gap: $default-gap/2;

$medium-size: 1050px;
$small-size: 640px;

$serif:'Roboto Slab', serif;
$sans-serif: 'Poppins', sans-serif;

$second-width: 85%;
$second-width-mid: 90%;
$second-width-small: 95%;

$default-shadow: 0 0 3px 1px black;